<form action="/new-product" method="POST">
    <input type="text" name="book-name">
    <input type="text" name="book-author" placeholder="name author">
    <input type="text" name="book-author-surname" placeholder="surname">
    <input type="text" name="book-price">
    <input type="text" name="book-id" value="124">

    <input type="submit" value="create a new book">
</form>