<style>
  input {
    font-size: 24px;
  }
</style>
<form method="POST" action="/add-bar">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="description" placeholder="description">


  <label>Address</label>
  <input type="text" name="latitude" placeholder="latitude" value="40.416775" >
  <input type="text" name="longitude" placeholder="longitude" value="-3.703790 ">

  <input type="submit" name="">
</form>